<!DOCTYPE html>
<html>
  <head>
    <title>Sassy Text Shadows - Test Page</title>
    <link rel="stylesheet" href="/stylesheets/example.css" />
  </head>
  <body>
    <div class="page">
      <h1>This is a Heading</h1>
      <p>The above heading should have a crazy text shadow.</p>
      <h2>This is a Sub Heading</h2>
      <p>The above heading should have a different crazy text shadow.</p>
      <h3>This is another Sub Heading</h3>
      <p>The above heading should have a long shadow at a -30 degree angle.</p>
    </div>
  </body>
</html>
